# creacion de base de datos

In [4]:
import sqlite3

conn = sqlite3.connect('paquetes.db')

c = conn.cursor()
  
c.execute('''CREATE TABLE paquetes
                 (id INTEGER PRIMARY KEY, nombre TEXT, descripcion, fecha_envio DATE)''')
   
conn.commit()

conn.close()

OperationalError: table paquetes already exists

In [5]:
conn = sqlite3.connect('Calendario_citas.db')

# Create a cursor object
cursor = conn.cursor()

# Check if the table already exists
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='Citas'")
if cursor.fetchone() is None:
    # Create the COMPANY table
    cursor.execute('''CREATE TABLE Citas
                    (id_cita TEXT NOT NULL,
                    calendar_id TEXT NOT NULL,
                    modalidad TEXT NOT NULL,
                    servicio TEXT NOT NULL,
                    nombre TEXT NOT NULL,
                    description TEXT NOT NULL,
                    hora_de_inicio INTEGER,
                    hora_finalizacion INTEGER,
                    correo TEXT NOT NULL);''')

    print("Bases de datos creado")
else:
    print("Tabla ya existe")
conn.close()

Bases de datos creado

# Seccion para manipular base de datos

### Cambiar nombre de columnas

### Agregar columna

In [5]:
conn = sqlite3.connect('paquetes.db')
c = conn.cursor()
c.execute("ALTER TABLE paquetes ADD COLUMN precio REAL")
conn.commit()
conn.close()

### Eliminar colunma

In [6]:
conn = sqlite3.connect('paquetes.db')
c = conn.cursor()
c.execute("ALTER TABLE paquetes DROP COLUMN fecha_envio")
conn.commit()
conn.close()

### Agregar dato

In [7]:
conn = sqlite3.connect('paquetes.db')
c = conn.cursor()
c.execute("INSERT INTO paquetes (id, paquetes, descripcion, precio) \
    VALUES ( 0004, 'caja 16 in', 'no mas de 25 lb', 104.00)")

c.execute("INSERT INTO paquetes (id, paquetes, descripcion, precio) \
    VALUES ( 0005, 'caja 18 in', 'no mas de 30 lb', 155.00)")

c.execute("INSERT INTO paquetes (id, paquetes, descripcion, precio) \
    VALUES ( 0006, 'caja 20 in', 'no mas de 35 lb', 184.00)")

c.execute("INSERT INTO paquetes (id, paquetes, descripcion, precio) \
    VALUES ( 0007, 'caja 22 in', 'no mas de 40 lb', 205.00)")

c.execute("INSERT INTO paquetes (id, paquetes, descripcion, precio) \
    VALUES ( 0008, 'Mensajeria', 'Local', 40.00)")

conn.commit()
conn.close()

### Verificar el tipo de data de una columna

In [8]:
conn = sqlite3.connect('paquetes.db')
c = conn.cursor()
c.execute("PRAGMA TABLE_INFO(paquetes)")
result = c.fetchall()
for r in result:
    print(r)

(0, 'id', 'INTEGER', 0, None, 1)
(1, 'paquetes', 'TEXT', 0, None, 0)
(2, 'descripcion', '', 0, None, 0)
(3, 'precio', 'REAL', 0, None, 0)

### Imprimir datos

In [9]:
import sqlite3
conn = sqlite3.connect('paquetes.db')
c = conn.cursor()
c.execute("SELECT * FROM paquetes")

result = c.fetchall()

for row in result:
    print(row)
conn.close()

(4, 'caja 16 in', 'no mas de 25 lb', 104.0)
(5, 'caja 18 in', 'no mas de 30 lb', 155.0)
(6, 'caja 20 in', 'no mas de 35 lb', 184.0)
(7, 'caja 22 in', 'no mas de 40 lb', 205.0)
(8, 'Mensajeria', 'Local', 40.0)

### Dos decimales

In [10]:
conn = sqlite3.connect('paquetes.db')
c = conn.cursor()
c.execute("SELECT round(precio, 2) as precio FROM paquetes")
result = c.fetchall()

for row in result:
    print(row)

conn.close()

(104.0,)
(155.0,)
(184.0,)
(205.0,)
(40.0,)

### Eliminar fila por ID

In [11]:
conn = sqlite3.connect('paquetes.db')
c = conn.cursor()
c.execute("DELETE FROM paquetes WHERE id = 3")
conn.commit()

conn.close()

## Operaciones logicas

### Suma

In [15]:
conn = sqlite3.connect('paquetes.db')
c = conn.cursor()
c.execute("SELECT precio FROM paquetes WHERE id = 1")
result1 = c.fetchone()

c.execute("SELECT precio FROM paquetes WHERE id = 8")
result2 = c.fetchone()
result = result1[0]+result2[0]

print(result)

conn.close()

TypeError: 'NoneType' object is not subscriptable